[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
flake8 = "*"
flake8-django = "*"
flake8-string-format = "*"
flake8-pep3101 = "*"
black = "==19.3b0"

[packages]
django = "*"
djangorestframework-simplejwt = "*"
djangorestframework = "*"
pyyaml = "*"
faker = "*"
django-rest-swagger = "*"
psycopg2-binary = "*"
django-model-utils = "*"

[requires]
python_version = "3.7"
