@media all and (min-width: 480px) {
  .participant-search {
    padding-top: 40px;

    &__form {
      margin: 0 auto;
      max-width: 270px;

    }

    .error {
      border-bottom: 1px solid red;
    }

    .error-message {
      color: red
    }
  }

  .participant-search__heading {
    padding: 2px 0;
    color: #086375;
  }
}

.participant-search__copy{
  padding-top: 20px;
}
