.navbar{
    &__toolbar{
        justify-content: space-between;
        flex-direction: row;
    }
    &__gs{
        background: white;
        color: #076375;
        padding-left: .5em;
        padding-right: .5em;
    }
}